h1 {
    background-color: grey;
    color: blue;
}
p {
    background-color: blue;
}

p.rasdi {
    size: 120px;
    color : red;
    background-color: yellow;
    margin: 20px 0 40px 30px;

}

a :link, a:visited {
    background-color: #f44336;
    color: white;
    padding: 14px 25px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
}

a:hover , a:active {
    background-color: red;
}